header {
	height: 100px;
}

tr:nth-child(2) {
  background-color: #d6deee;
}

section {
	grid-area: section;
}

img {
	grid-area: img;
}

table {
	grid-area: table;
}

p {
	grid-area: p;
}

.display {
	display: flex;
}

.background_blue {
	background-color: #0a3494;
}

.background_white {
	background: white;
}

.womargin {
	margin: 0;
	padding: 0;
}

.lateral {
	grid-area: lateral;
}

.imatge {
	grid-area: imatge;
}

.content {
	display: grid;
	grid-template-areas: 
	"img img lateral"
	"imatge p lateral"
	"section section lateral"
	"table table lateral"
	;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr;
}